body{
    padding: 0%;
    margin: 0%;
}
main{
    display: flex;
    justify-content: center;
    background-color: black;
}
#cont{
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: bisque;
}
#cont div{
    width: 20%;
    background-color: cadetblue;
    overflow: hidden;
}
#cont img{
    width: 100%;
    height: 500px;
    transition: 2s;
}#cont div h3{
    text-align: center;
    font-size: 10px;
    color: white;
    letter-spacing: 6px;
}
#cont div h4{
    padding-left: 10px;
    margin: 5px;
    color: white;
    font-size: 15px;    
}
#cont div button{
    border: none;
    width: 100%;
    background-color: cornsilk;
    font-size: 15px;
}
#cont div img:hover{
    transform: scale(1.1);
    /* transition: 2s; */
}
#cont div .pr{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: aqua;
}
